@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.text-shadow-effect {
    text-shadow: 2px 2px orange;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    color: balck; /* Text color to apply stroke around */
  }
  